body,
html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 3000px;
  margin: 0px;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: black;
}
a:hover {
  color: black;
}

#caption {
  margin-top: 6%;
  width: 100%;
  text-align: center;
}

.caption-item {
  color: white;
  background-color: black;
  padding: 0px 10px;
  opacity: 0.5;
  border-radius: 10px;
}

#word {
  font-size: 120px;
}

#definition {
  font-size: 50px;
  display: inline-block;
  margin-top: 10px;
  max-width: 20em;
}

#help {
  z-index: 1;
  position: fixed;
  top: 5%;
  right: 3%;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 2em;
  color: white;
  background-color: black;
  opacity: 0.6;
  font-size: 20px;
}

#words-container {
  position: absolute;
  width: 100%;
}

#active-words {
  width: 60%;
  height: 300px;
}

#removed-words {
  width: 60%;
  height: 300px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
