body,
html {
  height: 100%;
}
body {
  /* background-image: url('imgs/knuckle.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  height: 3000px;
  margin: 0px;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: black;
}
a:hover {
  color: black;
}

.square_btn {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  color: black;
  border: dashed 1px black;
  border-radius: 2px;
}

#caption {
  display: none;
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 5;
  width: 80%;
  border-radius: 30px;
  padding: 20px;
  color: white;
  background-color: black;
  opacity: 0.6;
  font-size: 100px;
  text-align: center;
}

#help {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 10;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 2em;
  color: white;
  background-color: black;
  opacity: 0.6;
  font-size: 20px;
}

#active-word-list {
  width: 80%;
  height: 300px;
}

#removed-word-list {
  width: 80%;
  height: 300px;
}

#word {
  font-size: 1.2em;
}
#definition {
  font-size: 0.4em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
